.layoutWrapper {
    display: flex;
    min-height: 100vh;
    background-color: var(--bg-body);
}

.mainContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.pageContent {
    padding: 0 32px 32px 32px;
    flex: 1;
    overflow-y: auto;
}